  @import url("https://use.typekit.net/fut8eyh.css");


body{
  background-color: #cee397;
  font-family: muli, sans-serif;

}

p{
  font-family: muli, sans-serif;
  font-weight: 700;
  font-style: normal;
}

section{
  border-bottom: 2px solid #cee397;
  min-height: 65vh;
}

h1{
  color: black;
  font-family: gothic-open-shaded, sans-serif;
  font-size: 60px;
  position: relative;
  text-align: center;
}

h2{
  font-family: muli, sans-serif;
  font-weight: 900;
  font-size: 40px;

}

#main-menu{
  background: rgba(206,227,151,0.9) ;
  height: 100%;
  width: 392px;
  position: absolute;
  top: 0;
  left: -400px;
  border-width: 5px;
  border-style: solid;
  border-color: black;


}
#main-menu:target{
 left: 0;
 z-index: 999;

}

.burgerimg{
  width: 30px;;
}

.close-menu{
  position: absolute;
  width: 30px;
  left: 340px;
  top: 20px;
}

#main-menu:target + .backdrop {
  display: block;
  background: #cee397;
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height : 100%;
  z-index: 998;
}


#titre1{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-size: 20px;
}

#titre2{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-size: 20px;
}

#titre3{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-size: 20px;
}

#titre4{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-size: 20px;
}



@media (min-width : 640px) {
  #main-menu{
    position: static;

  }

  #main-menu ul{
    display: flex;
    list-style: none;
    border:none;



  }

  #open-menu{
    display: none;
}

  .close-menu{
    display: none;
  }

  }




#grand{
  animation:spin 10s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes spin
{
 100%
 {
   -webkit-transform: rotate(360deg);
   transform:rotate(360deg);
   }
 }




 #moyen{
   animation:spin 10s linear infinite;
   transform-box: fill-box;
   transform-origin: center;
 }
 @keyframes spin
 {
  100%
  {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
    }
  }



  #petit{
    animation:spin 10s linear infinite;
    transform-box: fill-box;
    transform-origin: center;
  }
  @keyframes spin
  {
   100%
   {
     -webkit-transform: rotate(360deg);
     transform:rotate(360deg);
     }
   }


.mercercles{
     border: 4px solid red;
     max-width: 960px;


   }

.mercercles svg{
  width: 100%;
}
