 @import url("https://use.typekit.net/fut8eyh.css");
body{
  background-color: #FFFFF5;
  font-family: muli, sans-serif;

}



p{
  font-family: muli, sans-serif;
  font-weight: 500;
  font-style: normal;
}

section{
  border-bottom: 2px solid #FFFFF5;
  min-height: 65vh;
}

h1{
  color: #DEB5FF;
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  position: relative;
  text-align: center;
}

h2{
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #FFCEB5;

}

#main-menu{
  background: #FFCEB5 ;
  height: 100%;
  width: 392px;
  position: absolute;
  top: 0;
  left: -400px;
  /*border-width: 5px;
  border-style: solid;
  border-color: black;*/


}
#main-menu:target{
 left: 0;
 z-index: 999;

}

.burgerimg{
  width: 30px;;
}

.close-menu{
  position: absolute;
  width: 30px;
  left: 340px;
  top: 20px;
}

#main-menu:target + .backdrop {
  display: block;
  background: #FFFFF5;
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height : 100%;
  z-index: 998;
}




#titre1:hover {
  color: #DEB5FF !important;
}

#titre2:hover {
  color: #DEB5FF !important;
}

#titre3:hover {
  color: #DEB5FF !important;
}

#titre4:hover {
  color: #DEB5FF !important;
}





#titre1{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-size: 20px;
}

#titre2{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-size: 20px;
}

#titre3{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-size: 20px;
}

#titre4{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-size: 20px;
}



@media (min-width : 640px) {
  #main-menu{
    position: static;
    width: 100%;

  }

  #main-menu ul{
    display: flex;
    list-style: none;
    border:none;

  }

  #open-menu{
    display: none;
}

  .close-menu{
    display: none;
  }

  }

ul li a {
  color: white !important;

}


#grand{
  animation:spin 3s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes spin
{
 100%
 {
   -webkit-transform: rotate(360deg);
   transform:rotate(360deg);
   }
 }




 #moyen{
   animation:spin 5s linear infinite;
   transform-box: fill-box;
   transform-origin: center;
 }
 @keyframes spin
 {
  100%
  {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
    }
  }



  #petit{
    animation:spin 3s linear infinite;
    transform-box: fill-box;
    transform-origin: center;
  }
  @keyframes spin
  {
   100%
   {
     -webkit-transform: rotate(360deg);
     transform:rotate(360deg);
     }
   }


.mercercles{
     border: 4px solid red;
     max-width: 960px;


   }

.mercercles svg{
  width: 100%;
}



/*abcd*/

button{
  border-radius: 10px;
  background-color: #DEB5FF;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  font-size: 16px;
}

button a {
  text-decoration: none;
  color: #FFFFF5;
  font-family: muli, sans-serif;
  font-weight: 1000;

}

button :hover{
  color: #C2FFFC;

}



#abecedaire{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  color: #DEB5FF;

}


#abecedaire p {
  background-color: #F9FFB5;
  font-size: 3em;
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}


#abecedaire :hover{
  background-color: #FFFFF5;
  color: #C2FFFC;
}


#abecedaire:target {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

/*voyelle*/

#voyelle{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  color: #DEB5FF;
}

#voyelle p {
  background-color: #F9FFB5;
  font-size: 3em;
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}

#voyelle :hover{
  background-color: #FFFFF5;
  color: #C2FFFC;
}
